

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

a {
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25ch;
}

a:hover,
a:focus {
	color: var(--wp--preset--color--secondary) !important;
	text-decoration-style: dashed;
}

a:active {
	color: var(--wp--preset--color--secondary) !important;
	text-decoration: none;
}

header a img {
	transition: opacity 1s ease-out;
}

header a:hover img,
header a:focus img {
	opacity: 0.5;
}

footer {
	font-family: var(--wp--preset--font-family--nunito-sans);
	font-weight: 200;
	font-size: var(--wp--custom--typography--font-size--normal);
}

.is-style-navigation {
	border-width: 1px 0 !important;
	border-style: solid;
	margin-top: 0 !important;
}

.is-style-footer {
	border-width: 1px 0 0 !important;
	border-style: solid;
	margin-top: var(--wp--custom--spacing--outer, 1.5rem) !important;
	padding-top: var(--wp--custom--spacing--tiny, 0.5rem) !important;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

.wp-site-blocks {
	border: 1px solid var(--wp--preset--color--border);
	padding: 45px;
	margin: 45px auto;
	max-width: 1120px;
}
@media screen and (max-width: 1280px) {
	.wp-site-blocks {
		max-width: 1024px;
		margin: 45px;
	}
}

@media screen and (max-width: 641px) {

	.wp-site-blocks {
		border: 0 none;
		padding: 15px;
		margin: 15px;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 var(--wp--custom--spacing--outer);
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 var(--wp--custom--spacing--outer);
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: var(--wp--custom--spacing--outer) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 var(--wp--custom--spacing--outer);
}

/* Navigation
--------------------------------------------- */

.wp-block-navigation a,
.wp-block-navigation a:active {
	color: var(--wp--preset--color--primary) !important;
}

.wp-block-navigation
a:hover,
.wp-block-navigation
a:focus {
	color: var(--wp--preset--color--secondary) !important;
}

@supports not (flex-gap: var(--wp--style--block-gap,2em)) {

	.wp-block-navigation {
		margin: 0 calc(var(--wp--style--block-gap, 2em) * -1);
	}

	.wp-block-navigation .wp-block-navigation__container > li {
		margin: 0 var(--wp--style--block-gap, 2em);
	}
}


/* Button
--------------------------------------------- */
.is-style-outline > .wp-block-button__link:not(.has-background),
.wp-block-button__link.is-style-outline:not(.has-background) {
	color: var(--wp--preset--color--primary);
	border-color: var(--wp--preset--color--primary);
	border-style: solid;
	border-width: 2px;
}

.is-style-outline > .wp-block-button__link:not(.has-background):active,
.wp-block-button__link.is-style-outline:not(.has-background):active,
.is-style-outline > .wp-block-button__link:not(.has-background):hover,
.wp-block-button__link.is-style-outline:not(.has-background):hover {
	color: var(--wp--preset--color--secondary) !important;
	border-color: var(--wp--preset--color--secondary);
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: var(--wp--custom--spacing--outer);
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: var(--wp--custom--spacing--outer);
	display: grid;
	grid-gap: var(--wp--custom--spacing--outer);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}


.wp-block-image img {
	height: auto;
}

.is-style-greyscale img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter 1s ease-out;
}

.is-style-greyscale img:hover {
	-webkit-filter: none;
	filter: none;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: var(--wp--custom--spacing--outer);
	margin-bottom: var(--wp--custom--spacing--outer);
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: var(--wp--custom--spacing--outer);
	margin-bottom: var(--wp--custom--spacing--outer);
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--wp--custom--spacing--outer);
}


.forminator-field {
	display: block;
	font-family: var(--wp--preset--font-family--nunito-sans);
}

.forminator-field .forminator-label {
	font-weight: 700;
}

.forminator-field .forminator-label,
.forminator-field .forminator-input,
.forminator-field .forminator-select--field,
.forminator-field .forminator-textarea,
.forminator-field .forminator-description {
	display: block;
	width: 100%;
}

.forminator-field .forminator-radio {
	margin: 10px 20px 0 0;
	display: inline-block;
}

.forminator-field .forminator-input,
.forminator-field .forminator-select--field,
.forminator-field .forminator-textarea {
	padding: 0.7em;
	box-sizing: border-box;
	font-size: 1em;
}

.forminator-field .forminator-error-message {
	color: var(--wp--preset--color--vivid-red);
}

.forminator-field .forminator-button {
	border-color: var(--wp--preset--color--primary);
	border-style: solid;
	border-width: 2px;
}
